.flow_step{
	width: 585px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
	.form{padding: 30px;}
	
	&--content{
		background-color: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		-webkit-box-shadow: 0 2px 10px #F0F0F0;
		        box-shadow: 0 2px 10px #F0F0F0;
		    
		&--title{

			.img_box{
				float: left;
				margin-top: 6px;
				margin-right: 30px;
			}
			
			span{
				float: left;
				padding: 9px 20px;
				color: #757575;
				font-size: 13px;
				font-weight: 300;
				font-style: italic;
				display: inline-block;
				-webkit-border-radius: 20px;
				        border-radius: 20px;
				border: 1px solid #F5F5F5;
			}
		}
		

		.step{
			color: #62C64A;
			font-size: 12px;
			font-weight: 300;
			margin-bottom: 15px;
		}
	}
}



// RESPONSIVE _flow
  @media only screen and (max-width: 1200px) {
    .flow_content{
    	
    	.container{padding: 0;}
    }

  }
	
	@media only screen and (max-width: 850px) {
		.flow_step{
			width: 100%;
			margin-top: 0;
		}
	}

	@media only screen and (max-width: 360px) {
		.flow_step--content--title .img_box{margin-right: 15px;}
		.flow_step--content--title span{font-size: 11px;padding: 9px;}
		.flow_step--content--title{padding: 15px 8px;}
	}