/*---------------  Nav  -------------*/
  .nav{
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    display: inline-block;
    background-color: #043B5E;
    
    .logo{
      padding: 23px 0 12px;
      border-bottom: 1px solid #033555;
    }

    &__list_wrap{}

      &__list{
        
        li{}

        a{
          width: 100%;
          line-height: 2;
          color: #72aace;
          font-size: 15px;
          font-weight: 500;
          display: inline-block;
          padding: 11px 5px 11px 20px;
          border-bottom: 1px solid #033555;
        }

        a.active{
          color: #FFF;
          background-color: #033555;
        }

        a:hover{
          background-color: #033555;
        }
      }


    .menu_btn{
      width: 36px;
      height: 36px;
      float: right;
      display: none;
      cursor: pointer;
      background: url(../../images/icon/menu.png) center center no-repeat;

      &:hover{opacity: .8;}
    }

    .menu_close{
      width: 36px;
      height: 36px;
      display: none;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
      background: url(../../images/icon/close.png) center center no-repeat;

      &:hover{opacity: .8;}
    }
  }
  .logo{
    width: 100%;
    text-align: center;
  }


/*---------------  Header  -------------*/
  .header{
    top: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    padding: 19.5px 30px;
    width: calc(100% - 200px);
    background-color: #F8F8F8;
    border-bottom: 1px solid #EFEEEE;
    
    &__title{
      float: left;
      padding: 7px 0;
      width: calc(100% - 140px);
    }

    &__account{
      float: right;
      width: 131px;
      
      &--user_box{
        float: right;
        width: 34px;
        height: 34px;
        border: 2px solid #EBEBEB;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fff url(../../images/icon/account.png) 50% 50% no-repeat;
      }
      &--user_box:hover{
        border-color: #62c64a;
      }

      &--btn{
        float: right;
        width: 87px;
        color: #FFF;
        font-size: 13px;
        font-weight: 900;
        padding: 9.5px 9px;
        margin-left: 10px;
        text-align: center;
        background-color: #D43838;
        -webkit-border-radius: 20px;
                border-radius: 20px;
      }
      &--btn:hover{
        color: #FFF;
        opacity: .8;
      }
    }
  }


  // Breadcrumbs -------------
  .breadcrumbs{
    
    &--link{
      float: left;
      font-size: 16px;
      font-weight: 300;
      position: relative;
      padding-right: 20px;
      margin-right: 25px;
      
      &:hover{color: #62C64A;}
      
      &::after{
        content: "";
        width: 7px;
        height: 11px;
        right: -7px;
        top: 50%;
        position: absolute;
        -webkit-transform: translateY(-5px);
           -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
             -o-transform: translateY(-5px);
                transform: translateY(-5px);
        background: url(../../images/icon/arrow_right.png) 0 0 no-repeat;
      }
    }

    &--item{
      float: left;
      font-size: 16px;
      font-weight: 500;
    }
  }


// RESPONSIVE _header_aside
@media only screen and (max-width: 768px) {
    body{min-width: 480px;}
    
    // -----------  HEADER  -----------
    .nav{
      right: 0;
      width: 100%;
      height: 74px;
      z-index: 999;
      padding-left: 15px;
      padding-right: 15px;
      position: fixed;
      
      .logo{
        width: auto;
        display: inline-block;
      }
      
      .menu_btn{
        display: block;
        margin-top: 18px;
      }
      .menu_close{display: block;}

      .nav__list_wrap{
        top: 0;
        // z-index: 99;
        height: 100%;
        width: 200px;
        right: -215px;
        bottom: auto;
        overflow: auto;
        position: fixed;
        padding-top: 45px;
        background-color: #043B5E;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
                box-shadow: 0 0 15px rgba(0, 0, 0, .5);
        
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }

    .nav_overlay{
      .nav__list_wrap{right: 0;}
    }

    .header{
      top: 75px;
      left: 0;
      width: 100%;
      z-index: 990;
      padding: 8px 15px;
    }


  }

  @media only screen and (max-width: 380px) {
  	.breadcrumbs{
        &--link{
          padding-right: 5px;
          margin-right: 10px;
        }
      }
  }
