.teaser{
	
	&--flow_view{
		position: relative;
		margin-bottom: 30px;
		background-color: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		    
		.title--2{
			padding-left: 30px;
			line-height: 90px;
		}

		.soc_wrap{
			width: 100%;
			padding: 29px 30px 25px;
			display: inline-block;
		}

		&--link{display: none;}

	}


	&--flow_view_single{
		position: relative;
		background-color: #FFF;
		margin-bottom: 30px;
		// display: inline-block;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		

		.title--2{
			padding-left: 30px;
			line-height: 90px;
		}

		a.social--icon{
			float: right;
			margin-top: 30px;
			margin-right: 15px;
			padding: 5px;
			
			&:nth-child(2){
				margin-right: 30px;
			}
		}
	}

	&--conversation{
		
		.inner_white_block--indent:first-child{
			padding: 20px 30px;
		}
		.title--2{line-height: 1.7;}

		.link--account{
			margin-right: 20px;
		}

		&--info{
			float: left;
			width: 75%;
			
			&__name{
				
				img{
					margin-left: 20px;
					margin-right: 15px;
				}
			}

			p{
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		&--date{
			float: right;
			text-align: right;
			
			.title--4{
				line-height: 1.4;
			}
		}
	}



	&--human{

		.inner_white_block--indent:first-child{
			padding: 20px 30px;
		}
		.title--2{line-height: 1.7;}
		
		&--img{
			float: left;
			width: 128px;
			height: 128px;
			margin-right: 30px;
			text-align: center;
			background: #f8f8f8 url(../images/icon/account_lg.png) center center no-repeat;
			
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		&--info{
			width: 70%;
			float: left;
		}
	}

	&--analyt{

		.inner_white_block--indent:first-child{
			padding: 20px 30px;
		}
		.title--2{line-height: 1.7;}

		.list3{
			padding-top: 8px;
			display: inline-block;
		}

		.img_box{
			margin: 30px 20px 10px 20px;
		}

		&--content{
			padding: 10px 35px 30px;
		}
		
	}

	
}

.accordion{
		

	.accordion_item{
		position: relative;
		cursor: pointer;
		
		&:not(:last-child){
			border-bottom: 1px solid #F8F8F8;
		}
		
		&::after{
			content: "";
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
			position: absolute;
			background: url(../images/icon/arrow.png) 50% 50% no-repeat;
		}
		
		&--link{
			padding: 18px 70px 17px 30px;
			
			[class^="social"]{
				margin: 5px 20px 5px 0;
			}

			.title{

				p{
					font-size: 18px;
					margin-bottom: 0;
				}
				

				[data-conect]{
					color: #62C64A;
					font-size: 11px;
				}

				[data-conect="disconected"]{
					visibility: hidden;
				}
				[data-conect="disconected"]+p{
					margin-top: -7px;
				}
			}
		}

		.sub-menu{
			display: none;
			padding: 0 30px 20px 30px;
		}
	}

}


[data-flow="flow_view"]{
	.teaser--flow_view--link{
		display: block;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #62C64A;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		background-color: rgba(255, 255, 255, .7);
		
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
		
		span{
			display: inline-block;
			max-height: 100%;
			margin-top: 30%;
		}
	}
			

		&:hover .teaser--flow_view--link{
			visibility: visible;
			opacity: 1;
		}
}



// RESPONSIVE _b-teaser
@media only screen and (max-width: 768px) {
    .teaser{
    	
    	&--flow_view,
    	&--flow_view_single{
    		
    		.title--2{
    			line-height: 60px;
    		}

    		.soc_wrap{padding: 14px 30px 12px;}

    		a.social--icon{margin-top: 12px;}
    	}
    }

    .accordion{
    	.accordion_item{
    		
    		&--link{
    			padding: 12px 70px 11px 30px;
    		}
    	}
    }

}

@media only screen and (max-width: 480px) {
	.teaser{
		
		&--conversation{
			&--info{
				float: none;
				width: 100%;
				margin-bottom: 15px;
				
				&__name{font-size: 14px;}
			}

			&--date{
				float: none;
				width: 100%;
				// text-align: left;
				
				.title--4{
					display: inline-block;
				}
			}

			.inner_white_block--indent:first-child{
				padding: 20px 15px;
			}
		}

		&--human{
			
			&--img{
				float: none;
				// width: 100%;
				margin-right: 10px;
				margin-bottom: 15px;
			}

			&--info{
				float: none;
				width: 100%;
				
			}
		}

		&--analyt{
			.inner_white_block--indent:first-child{
				padding: 20px 15px;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
    .teaser{
    	
    	&--flow_view_single{
    		
    		.title--2{
    			font-size: 15px;
    			padding-left: 15px;
    		}

    		.soc_wrap{padding: 14px 15px 12px;}
    	}

    	&--analyt{
    		// .title--2,
    		.list3{
    			float: none;
    		}
    	}
    }

    .accordion{
    	.accordion_item{
    		
    		&--link{
    			padding: 12px 70px 11px 15px;
    		}

    		.title{width: 65%; margin-bottom: 15px;}

    		.link--green_bdrd{
    			float: none;
    			display: inline-block;
    			// margin-bottom: 5px;
    		}
    	}
    }

}

@media only screen and (max-width: 380px) {
    .teaser{
    	
    	&--flow_view{
    		
    		.title--2{
    			padding-left: 15px;
    		}

    		.soc_wrap{padding: 14px 15px 12px;}
    	}


    }

   	.accordion{
    	&_item{
    		
    		&--link{
    			padding: 12px 70px 11px 15px;
    		}
    	}
    }

}