article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');

/* Main properties ======================================================== */
html {width:100%; height: 100%;}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #3e3e3e;
  min-width: 1200px;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-text-size-adjust: none;
}
.wa--content{
  font-family: 'Roboto', sans-serif;
  
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ::after,
  ::before{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}



*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#424242;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#62c64a;
  text-decoration:none;
}

.btn{
  text-decoration: none;
}
.btn:hover{
  
}


/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.content_img{
  max-width: 100%;
  height: auto;
}

.val_mid{vertical-align: middle;}


.img_radius{
  border-radius: 10px;
}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/


/*=====================> Content ========================*/
#content{
  padding: 30px 15px; 
  overflow: auto;
  margin-top: 74px;
  width: 100%;
  height: calc(100% - 80px);
  display: inline-block;
}

[data-content_size="585"]{
  width: 585px;
  margin-left: auto;
  margin-right: auto;
}

.inner_white_block{
  background-color: #FFF;
  // display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 2px 10px #F0F0F0;
          box-shadow: 0 2px 10px #F0F0F0;
  
  &--indent{
    padding: 30px;
  }
}

/*------------------  GRID  ---------------*/
  .wrapp{
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
    .grid_50{
      width: 48.31%;
      
      &:first-child{
        margin-right: 30px;
      }
    }

    .grid_30{
      width: 31%;
      
      &:nth-child(2){
        margin-right: 30px;
        margin-left: 30px;
      }
    }


  .flow{
    padding: 0;
    // overflow: hidden;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
      -webkit-box-shadow: 0 5px 10px #F0F0F0;
              box-shadow: 0 5px 10px #F0F0F0;
  }

  .flow_nav{
    background-color: #fff;
    -webkit-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
        
    .link--add_bd{
      margin-top: 28px;
    }
    
    &--item{
      float: left;
      height: 90px;
      line-height: 90px !important;
      display: inline-block;
      padding: 0px 30px 0px 80px;
      
      &:hover{
        color: #62C64A;
      }
      
      &:not(:first-child){
        border-left: 1px solid #F8F8F8;
      }
      
      &:first-child{
        background: url(../images/icon/icon_bot.png) 30px center no-repeat;

        &:hover{
          background-image: url(../images/icon/icon_bot_act.png);
        }
      }
      &:nth-child(2){
        background: url(../images/icon/settings.png) 30px center no-repeat;

        &:hover{
          background-image: url(../images/icon/settings_act.png);
        }
      }
      &:nth-child(3){
        background: url(../images/icon/config.png) 30px center no-repeat;

        &:hover{
          background-image: url(../images/icon/config_act.png);
        }
      }
      
    }
    &[data-border="full"]{
      -webkit-border-radius: 10px !important;
              border-radius: 10px !important;
    }

    
    .social--fb{
      float: right;
      margin-top: 30px;
      margin-right: 30px;
    }


    .tooltip_templates{
      display: none;
    }
  }

  .flow_content{
    padding: 30px 15px;
    min-height: 350px;
    border-top: 1px solid #f8f8f8;
  }


  /*------------------   ToolTip   -----------------*/
  
    .tooltip_content{
      padding: 12px 5px;
    }


/*---------------  Aside right  -------------*/
  .right_wrapp{
    height: 100%;
    margin-left: 200px;
    position: relative;
  }


/*=====================> Titles ========================*/

.title--1{
  font-size: 25px;
  line-height: 1.3;
  
  .link--green_bdrd{
    margin-left: 20px;
    margin-top: -5px;
  }
}

.title--2{
  font-size: 20px;
  line-height: 1.2;
}

.title--3{
  font-size: 18px;
  line-height: 1.2;
}

.title--4{
  font-size: 16px;
  line-height: 1.2;
}

.title--5{
  font-size: 15px;
}

.title--6{
  font-size: 13px;
}

.title--7{
  font-size: 11px;
  line-height: 1.2;
}

.title_img{
  float: none !important;
  font-size: 16px !important;
  margin-right: 30px;
  display: inline-block;
  
  img{
    -webkit-transform: translateY(20%);
       -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
         -o-transform: translateY(20%);
            transform: translateY(20%);
  }
}


hr{
  border: none;
  height: 1px;
  margin: 0;
  background-color: #F8F8F8;
}


/*=====================> Links & Buttons ========================*/
  .link{
    &--plus_green{
      width: 22px;
      height: 22px;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #62c64a url(../images/icon/plus.png) center center no-repeat;
    }

    &--add_bd{
      outline: none;
      cursor: pointer;
      padding: 8px 10px 7px 32px;
      border: 2px solid #E9E9E9;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      background: url(../images/icon/plus_lg.png) 11px 50% no-repeat;

      &.tooltip{
        opacity: 1;
        line-height: inherit;
        position: relative;
        font-family: 'Roboto', sans-serif;
      }
      
      &:hover{
        color: #fff;
        border-color: #62C64A;
        background-color: #62C64A;
        background-image: url(../images/icon/plus_lg_wh.png);
      }
    }


    &--green_bdrd{
      color: #FFF;
      padding: 7px 19px 8px;
      border: 2px solid #62C64A;
      background-color: #62C64A;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      
      &:hover{
        color: #62C64A;
        border-color: #E9E9E9;
        background-color: #FFF;
      }
    }

    &--grey_bdrd{
      color: #3e3e3e;
      padding: 7px 19px 8px;
      border: 2px solid #E9E9E9;
      background-color: #fff;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      
      &:hover{
        color: #fff;
        border-color: #62C64A;
        background-color: #62C64A;
      }
    }

    &--add{
      color: #3E3E3E;
      position: relative;
      
      span{
        margin-left: 20px;
      }

      &:hover{
        color: #62C64A;
        
        span{opacity: .7;}
      }
    }


    &--account{
      width: 41px;
      height: 41px;
      position: relative;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #f8f8f8 url(../images/icon/account_md.png) center center no-repeat;
      
      &:hover{opacity: 0.8;}
      
      &[data-social]::after{
        content: "";
        top: -2px;
        right: -2px;
        width: 17px;
        height: 17px;
        position: absolute;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }

      &[data-social="fb"]::after{
        background: url(../images/icon/fb_min.png) center center no-repeat;
      }
    }
    
  }

  [class^="link--action"]{
    //157 42
    margin-right: 13px;
    display: inline-block;
    border: 2px solid #EBEBEB;
    padding: 10px 15px 10px 53px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    
    &:hover{
      color: #fff;
      border-color: #62C64A;
      background-color: #62C64A;
    }
  }
  .link--action1{
    background: url(../images/icon/icon_msg.png) 22px center no-repeat;
    
    &:hover{
      background-image: url(../images/icon/icon_msg_act.png);
    }
  }
  .link--action2{
    background: url(../images/icon/icon_media.png) 22px center no-repeat;
    
    &:hover{
      background-image: url(../images/icon/icon_media_act.png);
    }
  }



  [data-btn="btn_after"]{
    position: relative;
    
    &::after{
      content: "";
      width: 23px;
      height: 23px;
      right: -5px;
      top: -5px;
      position: absolute;
      display: inline-block;
      background: #E3E3E3 url(../images/icon/delete_min_wh.png) center 45% no-repeat;
      -webkit-border-radius: 50%;
              border-radius: 50%;
    }
  }


  .close{
    top: 30px;
    right: 32px;
    width: 25px;
    height: 25px;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    background: url(../images/icon/close_red.png) 50% 50% no-repeat;
    
    &:hover{
      opacity: .6;
    }
  }




  [class^="btn"]{
    color: #FFF;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    padding: 13px 7px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    
    &:hover{
      color: #FFF;
      opacity: .8;
    }
  }
  .btn--blue{
    background-color: #043B5E;
  }
  .btn--green{
    background-color: #62c64a;
  }


  [data-btn_size="mid"]{
    width: 188px;
    margin-left: auto;
    margin-right: auto;
  }


  .chanel{
    width: 100%;
    padding: 19px;
    display: inline-block;
    border: 1px solid #F5F5F5;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    
    &:hover{
      border-color: #62C64A;
    }

    &[data-conect="online"]{
      padding-bottom: 10px;
      
      .img_box{
        position: relative;
        
        &::after{
          content: "";
          width: 5px;
          height: 5px;
          top: 0;
          right: 0;
          position: absolute;
          border: 2px solid #fff;
          background-color: #62C64A;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
        }
      }

      .chanel__info{
        position: relative;
        padding-top: 10px;
        
        &::after{
          content: "Conected";
          color: #62C64A;
          font-size: 11px;
          top: -6px;
          left: 0;
          position: absolute;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
    
    .img_box{float: left;}
    
    &__info{
      float: left;
      margin-left: 20px;
      
      span{
        width: 100%;
        display: inline-block;
      }
    }
  }


/*---------   ICON Links   ---------*/
  [class^="social"]{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
  }
  a[class^="social"]:hover{opacity: .8;}
  [data-status]{
    position: relative;
  }
  [data-status]::after{
    content: "";
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
    position: absolute;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }

  [data-status="online"]::after{
    background-color: #62C64A;
  }

  [data-status="offline"]::after{
    background-color: #d7d7d7;
  }


  .icon_box{
    padding-left: 65px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    
    img{
      vertical-align: middle;
    }

    &:hover{
      color: #62C64A;
    }
  }





/*=====================> Colors & BG ========================*/
  [data-color="white"]{color: #fff;}
  [data-color="green"]{color: #62C64A;}
  [data-color="grey"]{color: #757575;}
  [data-color="blue"]{color: #3b5998;}
  [data-color="aqua"]{color: #60b2ef;}


  [data-border="bot_dash"]{border-bottom: 1px dashed #ebebeb;}
  [data-border="bot_dash"]:hover{border-bottom: 1px dashed #dbdbdb;}

  
  [data-bg="white"]{background-color: #FFF;}
  [data-bg="grey"]{background-color: #f8f8f8;}
  [data-bg="white_bdrd"]{
    background-color: #FFF;
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
  [data-shdw="shadow"]{
    -webkit-box-shadow: 0 10px 20px rgba(237, 237, 237, 1);
            box-shadow: 0 10px 20px rgba(237, 237, 237, 1);
  }


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
  ul{
    li{
      list-style-type: none;
    }
  }

  .list1{
    
    li{
      width: 100%;
      font-size: 18px;
      display: inline-block;
      
      &:not(:last-child){border-bottom: 1px solid #F8F8F8;}
      
      span{
        float: right;
        font-size: 20px;
      }
    }

    a{
      width: 100%;
      padding: 26px 30px;
      display: inline-block;
      
      &:hover{
        // font-weight: bold;
        color: #62C64A;
      }

      &.link--add{
        width: auto;
        
        &:hover{
          color: #62C64A;
          font-weight: 500;
        }
      }
    }
    .list2{
      display: none;
      top: 90px;
      left: 215px;
      z-index: 99;
      position: absolute;
    }

    

  }

  .list1--add{
      position: relative;
      
      &>li{
        a{
          width: 100% !important;
          &::after{
            content: "";
            width: 22px;
            height: 22px;
            margin-left: 20px;
            display: inline-block;
            -webkit-transform: translateY(5px);
               -moz-transform: translateY(5px);
                -ms-transform: translateY(5px);
                 -o-transform: translateY(5px);
                    transform: translateY(5px);
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background: #62c64a url(../images/icon/plus.png) 6.5px center no-repeat;
          }

          &.tooltip{
            opacity: 1;
            line-height: inherit;
            position: relative;
            font-family: 'Roboto', sans-serif;
          }

        }
      }
    }

  .sub_list_overlay{
    .list2{display: block;}
  }

  .list2{
    width: 163px;
    
    li{
      width: 100%;
      display: inline-block;
      
      &:not(:first-child){
        border-top: 1px solid #F8F8F8;
      }
      
      &:first-child{
        background: url(../images/icon/icon_list1.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list1_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(2){
        background: url(../images/icon/icon_list2.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list2_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(3){
        background: url(../images/icon/icon_list3.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list3_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(4){
        background: url(../images/icon/icon_list4.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list4_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(5){
        background: url(../images/icon/icon_list5.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list5_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(6){
        background: url(../images/icon/icon_list6.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list6_act.png) 20px 50% no-repeat;
        }
      }
      &:nth-child(7){
        background: url(../images/icon/icon_list1.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list1_act.png) 20px 50% no-repeat;
        }
      }
      &:last-child{
        background: url(../images/icon/icon_list7.png) 20px 50% no-repeat;
        
        &:hover{
          background: url(../images/icon/icon_list7_act.png) 20px 50% no-repeat;
        }
      }

      a{
        width: 100%;
        color: #3e3e3e;
        display: inline-block;
        padding: 14px 5px 10px 55px;
        
        &::after{display: none;}
        
        span{
          font-size: 14px;
          float: none;
        }
        
        &:hover{
            font-weight: 400;
          span{
            border-bottom-color: #DBDBDB;
          }
        }
      }
    }


  }

  .list3{
    
    li{
      float: left;
      font-size: 16px;
      display: inline-block;
      position: relative;
      
      &:not(:first-child){
        margin-left: 30px;
      }
    }

    .active{
      color: #62C64A;
      position: relative;
      
      &::after{
        content: "";
        left: 0;
        right: 0;
        height: 1px;
        bottom: -28px;
        position: absolute;
        background-color: #62C64A;
      }
    }
  }

  .determ_list{
    line-height: 1.5;
    
    dt{
      float: left;
      width: 148px;
      color: #757575;
      font-size: 16px;
      font-weight: 300;
    }
    dd{
      float: left;
      font-size: 16px;
      font-weight: 500;
      width: calc(100% - 150px);
      margin-bottom: 5px;
    }
  }

  .analyt_list{
    
    li{
      float: left;
      font-weight: 300;
      font-size: 16px;
      margin-right: 20px;
      position: relative;
      // padding-left: 22px;
    }

    [data-analytcolor]::before{
      content: "";
      width: 12px;
      height: 12px;
      margin-right: 10px;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
    }

    [data-analytcolor="pink"]::before{
      background-color: #fc6585;
    }
    [data-analytcolor="blue"]::before{
      background-color: #3da3e8;
    }
  }



/*================================>> FONTS  <<========================================*/
  .fw_l{font-weight: 300;}
  .fw_norm{font-weight: 400;}
  .fw_m{font-weight: 500;}
  .fw_b{font-weight: 600;}




/*================================>> hovers <<========================================*/
a,
.features_section_stripe::before{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
  cursor:pointer;
  margin-top:0;
  text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}

.img_box{
  img{max-width: 100%;}
}

// RESPONSIVE _default
  @media only screen and (max-width: 1200px) {
    body{min-width: 995px;}
    

  }

  @media only screen and (max-width: 1060px) {
    
    // -----------  FLOW NAV  -----------

    .flow_nav{
      
       &--item{
        padding: 0 20px 0 65px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          background-position: 17px center;
        }
      }

      .social--fb{margin-right: 15px;}
    }
  }

  @media only screen and (max-width: 995px) {
    body{min-width: 768px;}
    

  }

  @media only screen and (max-width: 970px) {
    
    // -----------  FLOW NAV  -----------

    .flow_nav{
      
       &--item{
        padding: 0 20px 0 53px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          background-position: 12px center;
        }
      }

    }
  }

  @media only screen and (max-width: 950px) {
    
    // -----------  FLOW NAV  -----------

    .flow_nav{
      position: relative;
      
      &--item{
        padding: 0 20px 0 48px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          background-position: 7px center;
        }
      }
      
      .link--add_bd{
        top: -22px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
        background-position: center center;
        
        
      }
      .social--fb{
        right: 10px;
        top: 21px;
        margin-right: 0;
        position: absolute;
      }
    }


    .inner_white_block{
      &--indent{
        padding: 15px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    body{min-width: 480px;}
    

    // -----------  CONTENT  ------------
      #content{padding: 30px 0;}

      .list1{
        a{padding: 15px 30px;}
      }

    .right_wrapp{
      margin-top: 75px;
      margin-left: 0;
    }

    // -----------  FLOW NAV  -----------

    .flow_nav{

        

      // .social--fb{margin-right: 15px;}

    }

  }

  @media only screen and (max-width: 560px) {
    
    // -----------  FLOW NAV  -----------
    .flow_nav--item:first-child{
      float: none;
      width: 100%;
    }

    .flow_nav--item:nth-child(2), 
    .flow_nav--item:nth-child(3){
      width: 46%;
    }
    .flow_nav--item:nth-child(2){
      border-left: none;
    }

    .flow_nav{

      .social--fb{top: 10px;}

      &--item{
        height: 70px;
        line-height: 70px !important;
        padding: 0 15px 0 62px;
        
        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          background-position: 18px center;
        }
      }

        
    }

    .chanel{
      .img_box{}

      &__info{
        margin-left: 10px;
        width: calc(100% - 50px);
        
        span{
          width: 100%;
        }
        
      }
    }

  }

  @media only screen and (max-width: 480px) {
    body{min-width: 320px;}


    // -----------  FLOW NAV  -----------
    .flow_nav{


      &--item{
        height: 70px;
        line-height: 70px !important;
        padding: 0 15px 0 50px;
        
        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          background-position: 12px center;
        }
      }
        
    }

    // -----------  CONTENT  ------------
    .title_img{margin-right: 10px;}

    .determ_list{
      dt{
        width: 128px;
        font-size: 14px;
      }
      dd{font-size: 13px;}
    }


  }

  @media only screen and (max-width: 425px) {
    .list3{
        li:not(:first-child){
          margin-left: 8px;
        }

        li.active::after{
          bottom: -25px;
        }
      }
  }

  @media only screen and (max-width: 380px) {
    // -----------  CONTENT  ------------
      

      .list1{
        a{padding: 15px 15px;}
      }

      .list1 li span{font-size: 13px;}

      .close{right: 10px; top: 10px;}


      // ----------  TITLE  ----------
      .title--1{
        font-size: 21px;
      }
  }

  @media only screen and (max-width: 320px) {
    // -----------  CONTENT  ------------
      


  }