.wa--content .form,
.form{
	background-color: transparent;
	border: none;
	color: #3E3E3E;
	padding: 0;
	margin-bottom: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	
	&__row{
		margin-bottom: 30px;
	}

	&--input{
		width: 100%;
		line-height: 2;
		font-size: 15px;
		height: 44px;
		background-color: #FBFBFB;
		border: 1px solid #F5F5F5;
		padding: 6px 15px 6px 20px;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
	}

	&--label{
		width: 100%;
		margin-bottom: 16px;
		display: inline-block;
	}

	&--textarea{
		width: 100%;
		font-size: 15px;
		line-height: 1.3;
		resize: none;
		min-height: 84px;
		background-color: #FBFBFB;
		border: 1px solid #F5F5F5;
		padding: 10px 15px 12px 20px;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
	}

	.jq-selectbox__select{
		height: auto;
		width: 100%;
		line-height: 2;
		font-size: 15px;
		background-color: #FBFBFB;
		border: 1px solid #F5F5F5;
		padding: 6px 15px 6px 20px;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		
		&:hover{
			background-color: #FBFBFB;
		}
	}
		.jq-selectbox li{
			font-size: 15px;
			
			&:hover{
				background-color: #033555;
			}
			&.selected{
				background-color: #043B5E;
			}
		}

	.jq-selectbox__trigger-arrow{
		border: none;
		width: 11px;
		height: 8px;
		background: url(../images/icon/arrow.png) 50% 50% no-repeat;
	}
	.jq-selectbox__dropdown{
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}




	&.white{
		.form--input{
			background-color: #FFF;
		}

	}
}

[data-size="370"]{
	width: 370px;
}

[data-valid="valid"]{
	border-color: #E3EEE1 !important;
	background-color: #F4F9F3 !important;
}

.form--menu{
	background-color: #FFF;
	border: 1px solid #F5F5F5;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 2px 18px #F0F0F0;
	        box-shadow: 0 2px 18px #F0F0F0;
	
	.title--2{
		padding: 5px;
		line-height: 2;
	}
	
	&--content{
		padding: 15px;
		min-height: 55px;
	}
}


.bot{
	margin-left: -10px;
	margin-right: -10px;
	
	&__item{
		float: left;
		width: 90px;
		height: 90px;
		position: relative;
		display: inline-block;
		background-color: #FFF;
		margin: 0 10px 10px 10px;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		
		&--delete{
			position: absolute;
			width: 15px;
			height: 15px;
			top: 7px;
			right: 7px;
		}

		&--name{
			font-size: 13px;
			padding: 38px 3px 30px;
			text-align: center;
		}

		&:hover{
			color: #3e3e3e;	
			-webkit-box-shadow: 0 2px 10px #F0F0F0;
			        box-shadow: 0 2px 10px #F0F0F0;
		}
	}
}

[data-able="disable"]{
	background-color: #EBEBEB;
	cursor: default;
	
	&:hover{
		opacity: 1;
	}
}

.inner_white_block--indent{
	.form__row:last-child{margin-bottom: 0;}
}

/*------------  PLACEHOLDER  -----------*/

	input::-webkit-input-placeholder{
		transition: all 0.5s ease;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #757575;
		opacity: 1;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
	input::-moz-placeholder{
		transition: all 0.5s ease;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #757575;
		opacity: 1;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
	input:-moz-placeholder{
		transition: all 0.5s ease;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #757575;
		opacity: 1;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
	input:-ms-input-placeholder{
		transition: all 0.5s ease;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #757575;
		opacity: 1;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	input:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: all 0.5s ease;
	}
	input:focus::-moz-placeholder{
		opacity: 0;
		transition: all 0.5s ease;
	}
	input:focus:-moz-placeholder{
		opacity: 0;
		transition: all 0.5s ease;
	}
	input:focus:-ms-input-placeholder{
		opacity: 0;
		transition: all 0.5s ease;
	}
  /*===  input end    ===*/

  /*===  textarea start  ===*/
	textarea::-webkit-input-placeholder{
		transition: all 0.5s ease;
		opacity: 1;
		color: #757575;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}
	textarea::-moz-placeholder{
		transition: all 0.5s ease;
		opacity: 1;
		color: #757575;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}
	textarea:-moz-placeholder{
		transition: all 0.5s ease;
		opacity: 1;
		color: #757575;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}
	textarea:-ms-input-placeholder{
		transition: all 0.5s ease;
		opacity: 1;
		color: #757575;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}

	textarea:focus::-webkit-input-placeholder{
		transition: all 0.5s ease;
		opacity: 0;
	}
	textarea:focus::-moz-placeholder{
		transition: all 0.5s ease;
		opacity: 0;
	}
	textarea:focus:-moz-placeholder{
		transition: all 0.5s ease;
		opacity: 0;
	}
	textarea:focus:-ms-input-placeholder{
		transition: all 0.5s ease;
		opacity: 0;
	}
  /*===  textarea end    ===*/



// RESPONSIVE _form
  @media only screen and (max-width: 1200px) {
  	

  }

  @media only screen and (max-width: 460px) {
  	[data-size="370"]{width: 100%;}
  }