//fog variables
$fogBackground: #000;
$fogOpacity: .6;

//modal variables
$modalWidth: 480px;
$modalBackground: #fff;
$modalBorder: none;
$modalBorderRadius: 10px;
$modalBoxShadow: none;
$modalPadding: 0px;

$modalTextAlign: left;
$modalFontSize: 16px;
$modalLineHeight: 22px;

//modal close button
$modalCloseWidth: 24px;
$modalCloseHeight: 24px;
$modalCloseTop: 20px;
$modalCloseRight: 20px;
$modalCloseBackground: url(../images/icon/close_red.png) center center no-repeat;

//modal title
$modalTitleFontSize: 20px;
$modalTitleLineHeight: 22px;
$modalTitleFontWeight: bold;

//modal header
$modalHeaderPadding: 0;
$modalHeaderBorderBottom: none;

//modal content
$modalContentPadding: 0;

//modal footer
$modalFooterPadding: 0;
$modalFooterBorderTop: none;
$modalFooterMargin: 0;

.body-modal {
	overflow: hidden;
}

.modal {
	&s {
		&__fog {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $fogBackground;
			opacity: $fogOpacity;
			z-index: 1000;
		}
	}

	color: #000;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	display: none;
	font-size: $modalFontSize;
	line-height: $modalLineHeight;
	background: rgba(0, 0, 0, .6);

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 1px;
		vertical-align: middle;
	}

	&__body {
		position: relative;
		z-index: 1;
		padding: $modalPadding;
		width: $modalWidth;
		box-sizing: border-box;
		display: inline-block;
		background: $modalBackground;
		text-align: $modalTextAlign;
		border: $modalBorder;
		vertical-align: middle;
		border-radius: $modalBorderRadius;
		box-shadow: $modalBoxShadow;
	}

	&__header {
		padding: $modalHeaderPadding;
		border-bottom: $modalHeaderBorderBottom;
	}

	&__content {
		padding: $modalContentPadding;
	}

	&__footer {
		padding: $modalFooterPadding;
		border-top: $modalFooterBorderTop;
		margin: $modalFooterMargin;
	}

	&__close {
		position: absolute;
		z-index: 1;
		right: $modalCloseRight;
		top: $modalCloseTop;
		background: $modalCloseBackground;
		width: $modalCloseWidth;
		height: $modalCloseHeight;
	}

	&__title {
		font-family: inherit;
		font-size: $modalTitleFontSize;
		line-height: $modalTitleLineHeight;
		font-weight: $modalTitleFontWeight;
	}
}

.modal{
	
	&--step3{
		
		.modal__header{
			padding: 26px 30px;
			border-bottom: 1px solid #F8F8F8;
		}

		.modal__title{
			font-size: 16px;
			font-weight: 700;
		}

		.modal__content{
			padding: 30px;
		}

		.img_box{
			width: 26px;
			float: left;
			margin-right: 20px;
		}

		.step3_box{
			width: 100px;
			float: left;
			margin-right: 10px;
		}

		.select_box{
			float: left;
			width: calc(100% - 135px);
		}

	}
}
.modal_btn{
	color: #fff;
	font-size: 15px;
	font-weight: 900;
	min-width: 107px;
	padding: 11px 20px;
	text-align: center;
	display: inline-block;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	
	&:hover{
		color: #fff;
		opacity: .8;
	}
}
[data-btn_col="blue"]{background-color: #3B5998;}
[data-btn_col="green"]{background-color: #62C64A;}
[data-btn_col="red"]{background-color: #D43838;}



// RESPONSIVE _modals
@media only screen and (max-width: 560px) {
    .modal{
    	
    	&__body{
    		width: 98%;
    	}

    	&__content{
    		
    	}

    	&--step3{
    		.modal__content{
    			padding: 20px 15px;
    		}
    	}
    }

}

@media only screen and (max-width: 375px) {
    .modal{
    	
    	.modal_btn{
    		float: none;
    		margin-top: 15px;
    	}
    }

}

@media only screen and (max-width: 320px) {
    .modal{
    	
    	.select_box{
    		width: 100%;
    		float: none;
    	}
    	.modal_btn{
    		width: 100%;
    		text-align: center;
    	}
    }

}